
body{
	text-decoration-color: 	#FF0000;
margin-top: auto;
	background-image: url("file:///C:/Users/Mangal%20Kumar/Desktop/photo.jpg");
}

#adminHomePage{

	/*border: 1px solid red;*/
	height: 520px;
	width: 600px;
margin: auto;
padding: 60px;
margin-top: 60px;


}
